@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);

  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.section-container-main {
  height: 100vh;
  background-color: var(--darkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-card {
  color: var(--lightCyan);
  height: 50%;
  width: 95%;
  background-color: var(--darkGrayishBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}

.section-card h5 {
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--neonGreen);
}
.section-card h2 {
  padding: 20px 15px;
}
.pattern {
  background-image: url(../images/pattern-divider-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 20px;
  margin: 0px auto 20px auto;
  /*  position: absolute;
  top: 65%; */
}

.dice {
  position: absolute;
  top: 70%;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  background-color: var(--neonGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dice:hover {
  box-shadow: 0px 0px 50px 5px var(--neonGreen);
}

.dice img {
  height: 30px;
}

.spinner-grow {
  color: var(--neonGreen) !important;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .section-card {
    color: var(--lightCyan);
    height: 50%;
    width: 70%;
    background-color: var(--darkGrayishBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
  }

  .pattern {
    background-image: url(../images/pattern-divider-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 20px;
    margin: 0px auto 20px auto;
    /*  position: absolute;
    top: 65%; */
  }

  .dice {
    position: absolute;
    top: 71%;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    background-color: var(--neonGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .attribution {
    font-size: 16px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .section-card {
    color: var(--lightCyan);
    height: 40%;
    width: 40%;
    background-color: var(--darkGrayishBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
  }
  .dice {
    position: absolute;
    top: 66%;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    background-color: var(--neonGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
